.content img {
  height: 300px;
  width:  1000px;

}

.content {
    padding: 10px;

}

.avatar img {
    padding-top: 5px;
    height: auto;
    width: auto;
}

.contacts {
    padding-left: 25px;
}
